<div class="text-center">
    <img src="~/images/checkout3.jpg" class="img-fluid" alt="Checkout">
    <h3 class="card-title">Congratulations</h3>
    <h5>Obrigado pelo seu pagamento</h5>
    <span style="font-size:20px">Your Order Number is : <b> 999-X88 </b></span>
    <a class="page-link" asp-area="" asp-controller="Home" asp-action="Index">
        <h3>Retornar para a página inicial</h3>
    </a>
</div>
