@model int
<h2>
    <p class="text-danger">
        O Item com o id = @Model não pode ser removido !!!
    </p>
</h2>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
    Retornar para a página inicial
</a>
